<a href="https://colab.research.google.com/github/AlySerry0/CSEN903-Airline-Team-133/blob/main/Airline_133.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install vaderSentiment
import pandas as pd
import matplotlib.pyplot as plt
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.12/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from vaderSentiment) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->vaderSentiment) (2025.10.5)

In [4]:
AirlineScrappedReview = pd.read_csv('/content/AirlineScrappedReview_Cleaned.csv')
AirlineScrappedReview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Passanger_Name   3574 non-null   object
 1   Flying_Date      955 non-null    object
 2   Route            2809 non-null   object
 3   Rating           3575 non-null   int64
 4   Verified         3575 non-null   object
 5   Review_title     3575 non-null   object
 6   Review_content   3575 non-null   object
 7   Traveller_Type   3575 non-null   object
 8   Class            3575 non-null   object
 9   Start_Location   2809 non-null   object
 10  End_Location     2809 non-null   object
 11  Layover_Route    484 non-null    object
 12  Start_Latitude   3515 non-null   float64
 13  Start_Longitude  3515 non-null   float64
 14  Start_Address    3515 non-null   object
 15  End_Latitude     3476 non-null   float64
 16  End_Longitude    3476 non-null   float64
 17  End_Address      3476 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 502.9+ KB

In [5]:
AirlineScrappedReview.head()

,Passanger_Name,Flying_Date,Route,Rating,Verified,Review_title,Review_content,Traveller_Type,Class,Start_Location,End_Location,Layover_Route,Start_Latitude,Start_Longitude,Start_Address,End_Latitude,End_Longitude,End_Address
0,Paige Boet,June 2023,New Orleans to London,1,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class,New Orleans,London,NaN,29.975998,-90.078213,"New Orleans, Orleans Parish, Louisiana, United...",51.507446,-0.127765,"London, Greater London, England, United Kingdom"
1,S Layne,March 2023,London to Amman,1,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class,London,Amman,NaN,51.507446,-0.127765,"London, Greater London, England, United Kingdom",31.951569,35.923963,"عمان, ناحية عمان, لواء قصبة عمان, عمان, 11110,..."
2,E Lanewoski,NaN,Heathrow to Bodrum,2,Trip Verified,no boarding drinks provided,"First time flying with BA business class, neve...",Solo Leisure,Business Class,London Heathrow,Bodrum,NaN,51.467739,-0.458780,"London Heathrow Airport, The Beacon Roundabout...",37.034399,27.430651,"Bodrum, Muğla, Ege Bölgesi, Türkiye"
3,Joel Burman,June 2023,Amman to London,4,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class,Amman,London,NaN,31.951569,35.923963,"عمان, ناحية عمان, لواء قصبة عمان, عمان, 11110,...",51.507446,-0.127765,"London, Greater London, England, United Kingdom"
4,R Vines,NaN,London City to Ibiza,7,Trip Verified,stick with economy,This is a two-for-one review covering economy ...,Family Leisure,Business Class,London City,Ibiza,NaN,42.953765,-81.229153,"London (city), Ontario, N6C 0A7, Canada",38.974390,1.419746,"Eivissa, Illes Balears, España"

In [6]:
AirlineScrappedReview.isnull().sum()

Passanger_Name        1
Flying_Date        2620
Route               766
Rating                0
Verified              0
Review_title          0
Review_content        0
Traveller_Type        0
Class                 0
Start_Location      766
End_Location        766
Layover_Route      3091
Start_Latitude       60
Start_Longitude      60
Start_Address        60
End_Latitude         99
End_Longitude        99
End_Address          99
dtype: int64

In [7]:
AirlineScrappedReview.describe(include='all')

,Passanger_Name,Flying_Date,Route,Rating,Verified,Review_title,Review_content,Traveller_Type,Class,Start_Location,End_Location,Layover_Route,Start_Latitude,Start_Longitude,Start_Address,End_Latitude,End_Longitude,End_Address
count,3574,955,2809,3575.000000,3575,3575,3575,3575,3575,2809,2809,484,3515.000000,3515.000000,3515,3476.000000,3476.000000,3476
unique,2759,100,1541,NaN,2,2570,3501,6,5,332,411,50,NaN,NaN,284,NaN,NaN,320
top,David Ellis,August 2015,London to Johannesburg,NaN,Not Verified,British Airways customer review,SFO-LHR-SFO in Premium Economy in December 201...,Couple Leisure,Economy Class,London Heathrow,London Heathrow,London,NaN,NaN,"Nanno, Ville d'Anaunia, Comunità della Val di ...",NaN,NaN,"Nanno, Ville d'Anaunia, Comunità della Val di ..."
freq,44,25,16,NaN,2508,947,2,949,1846,583,437,197,NaN,NaN,766,NaN,NaN,766
mean,NaN,NaN,NaN,4.790490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.639473,-2.164986,NaN,40.550399,-1.118816,NaN
std,NaN,NaN,NaN,3.170323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.022014,44.576587,NaN,18.723619,46.045735,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.666951,-123.182909,NaN,-37.814245,-123.179234,NaN
25%,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.893320,-0.458780,NaN,39.739236,-0.458780,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.314475,-0.127765,NaN,46.314475,-0.127765,NaN
75%,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.467739,11.048029,NaN,51.467739,11.048029,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.011873,151.208285,NaN,64.145981,174.550610,NaN

In [8]:
columns_to_drop = [
    'Flying_Date', 'Layover_Route',        # Too many missing values
    'Passanger_Name', 'Review_title',       # Unneeded identifiers
    'Start_Latitude', 'Start_Longitude',    # Redundant location data
    'Start_Address', 'End_Latitude',
    'End_Longitude', 'End_Address',
    'Start_Location', 'End_Location'      # Redundant to 'Route'
]
AirlineScrappedReview = AirlineScrappedReview.drop(columns=columns_to_drop)
# AirlineScrappedReview = AirlineScrappedReview.dropna()

In [9]:
AirlineScrappedReview['Satisfaction'] = (AirlineScrappedReview['Rating'] >= 5).astype(int)
sia = SentimentIntensityAnalyzer()
AirlineScrappedReview['Sentiment_Score'] = AirlineScrappedReview['Review_content'].apply(
    lambda review: sia.polarity_scores(review)['compound']
)

In [10]:
# --- 5. Encode Binary 'Verified' Column ---
# Map 'Trip Verified' to 1 and 'Not Verified' to 0
AirlineScrappedReview['Verified'] = AirlineScrappedReview['Verified'].map({
    'Trip Verified': 1,
    'Not Verified': 0
})

# --- 6. One-Hot Encode 'Traveller_Type' and 'Class' ---
AirlineScrappedReview = pd.get_dummies(AirlineScrappedReview,
                            columns=['Traveller_Type', 'Class'],
                            drop_first=True)

AirlineScrappedReview = AirlineScrappedReview.drop_duplicates()

# Display the final prepped DataFrame
print("\n--- Final Prepped DataFrame ---")
AirlineScrappedReview.info()

--- Final Prepped DataFrame ---
<class 'pandas.core.frame.DataFrame'>
Index: 3501 entries, 0 to 3574
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Route                          2807 non-null   object
 1   Rating                         3501 non-null   int64
 2   Verified                       3501 non-null   int64
 3   Review_content                 3501 non-null   object
 4   Satisfaction                   3501 non-null   int64
 5   Sentiment_Score                3501 non-null   float64
 6   Traveller_Type_Couple Leisure  3501 non-null   bool
 7   Traveller_Type_Family Leisure  3501 non-null   bool
 8   Traveller_Type_Solo Leisure    3501 non-null   bool
 9   Traveller_Type_Unknown         3501 non-null   bool
 10  Traveller_Type_Various         3501 non-null   bool
 11  Class_Economy Class            3501 non-null   bool
 12  Class_First Class              3501 non-null   bool
 13  Class_Premium Economy          3501 non-null   bool
 14  Class_Unknown                  3501 non-null   bool
dtypes: bool(9), float64(1), int64(3), object(2)
memory usage: 222.2+ KB

In [11]:
Customer_comment = pd.read_csv('/content/Customer_comment.csv')

In [12]:
Customer_comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                9424 non-null   int64
 1   flight_number             9424 non-null   int64
 2   origin_station_code       9424 non-null   object
 3   destination_station_code  9424 non-null   object
 4   scheduled_departure_date  9424 non-null   object
 5   arrival_delay_group       9424 non-null   object
 6   departure_delay_group     9424 non-null   object
 7   entity                    9424 non-null   object
 8   verbatim_text             9424 non-null   object
 9   seat_factor_band          9424 non-null   object
 10  ques_verbatim_text        9424 non-null   object
 11  loyalty_program_level     6920 non-null   object
 12  fleet_type_description    9424 non-null   object
 13  fleet_usage               9424 non-null   object
 14  response_group            9424 non-null   object
 15  sentiments                9424 non-null   object
 16  transformed_text          8405 non-null   object
dtypes: int64(2), object(15)
memory usage: 1.2+ MB

In [13]:
Customer_comment.head()

,Unnamed: 0,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,ques_verbatim_text,loyalty_program_level,fleet_type_description,fleet_usage,response_group,sentiments,transformed_text
0,0,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,There was no salad dressing. The staff informe...,0 to 70,Is there anything else you'd like to share abo...,non-elite,B777-200,Mainline,member,Neutral,salad dress staff inform flight receiv salad d...
1,1,950,LHX,SFX,2022-09-01,Early & Ontime,Delayed,Atlantic,Not a choice.,0 to 70,Is there anything else you'd like to share abo...,NaN,B777-200,Mainline,non-member,Neutral,choic
2,2,1876,FLX,EWX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More variety and bigger snacks.,90+,Is there anything else you'd like to share abo...,non-elite,A320-200,Mainline,member,Neutral,varieti bigger snack
3,3,5469,SFX,SEX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,Serving pretzels and cookies in first class wa...,90+,Is there anything else you'd like to share abo...,premier gold,ERJ-175,Express,member,Neutral,serv pretzel cooki first class extrem disappoi...
4,4,281,DEX,ANX,2022-09-01,Early & Ontime,Early & Ontime,Domestic,More inflight selections to purchase for full ...,0 to 70,Is there anything else you'd like to share abo...,non-elite,B737-MAX8,Mainline,member,Neutral,inflight select purchas full meal

In [14]:
Customer_comment.isnull().sum()

Unnamed: 0                     0
flight_number                  0
origin_station_code            0
destination_station_code       0
scheduled_departure_date       0
arrival_delay_group            0
departure_delay_group          0
entity                         0
verbatim_text                  0
seat_factor_band               0
ques_verbatim_text             0
loyalty_program_level       2504
fleet_type_description         0
fleet_usage                    0
response_group                 0
sentiments                     0
transformed_text            1019
dtype: int64

In [15]:
Customer_comment.describe(include='all')

,Unnamed: 0,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,ques_verbatim_text,loyalty_program_level,fleet_type_description,fleet_usage,response_group,sentiments,transformed_text
count,9424.000000,9424.000000,9424,9424,9424,9424,9424,9424,9424,9424,9424,6920,9424,9424,9424,9424,8405
unique,NaN,NaN,195,192,30,2,2,4,8013,4,1,7,22,2,3,2,7609
top,NaN,NaN,IAX,IAX,2022-09-10,Early & Ontime,Early & Ontime,Domestic,No.,90+,Is there anything else you'd like to share abo...,non-elite,B737-900,Mainline,member,Neutral,none
freq,NaN,NaN,1149,1427,399,6811,6241,6593,774,6302,9424,4128,1451,7985,6905,9307,97
mean,4711.500000,1741.573430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2720.618802,1550.550037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2355.750000,614.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4711.500000,1286.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7067.250000,2261.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9423.000000,6375.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print("\n--- Unique Values in Key Columns ---")
cols_to_check = ['arrival_delay_group', 'departure_delay_group', 'entity',
                 'seat_factor_band', 'loyalty_program_level', 'fleet_usage', 'response_group', 'sentiments']

for col in cols_to_check:
    print(f"Column '{col}': {Customer_comment[col].unique()}")

--- Unique Values in Key Columns ---
Column 'arrival_delay_group': ['Early & Ontime' 'Delayed']
Column 'departure_delay_group': ['Delayed' 'Early & Ontime']
Column 'entity': ['Atlantic' 'Domestic' 'Latin' 'Pacific']
Column 'seat_factor_band': ['0 to 70' '90+' '80+' '70+']
Column 'loyalty_program_level': ['non-elite' nan 'premier gold' 'premier 1k' 'premier silver'
 'global services' 'premier platinum' 'NBK']
Column 'fleet_usage': ['Mainline' 'Express']
Column 'response_group': ['member' 'non-member' 'NBK']
Column 'sentiments': ['Neutral' 'Negative']

In [17]:
# --- 1. Drop Unnecessary/Redundant Columns ---
columns_to_drop = [
    'Unnamed: 0',         # Duplicate index
    'ques_verbatim_text', # Only has one unique value, no info
    'transformed_text'    # Incomplete, and we have the raw 'verbatim_text'
]
Customer_comment = Customer_comment.drop(columns=columns_to_drop)

# --- 2. Handle Missing Data ---
# Fill missing loyalty levels with 'None'
Customer_comment['loyalty_program_level'] = Customer_comment['loyalty_program_level'].fillna('None')

# --- 3. Convert Data Types ---
# Convert date column to datetime objects
Customer_comment['scheduled_departure_date'] = pd.to_datetime(Customer_comment['scheduled_departure_date'])

# --- 4. Encode Binary Categorical Columns ---
# We'll map the "negative" or "delayed" state to 1 and the "positive" state to 0

Customer_comment['arrival_delay_group'] = Customer_comment['arrival_delay_group'].map({
    'Delayed': 1,
    'Early & Ontime': 0
})

Customer_comment['departure_delay_group'] = Customer_comment['departure_delay_group'].map({
    'Delayed': 1,
    'Early & Ontime': 0
})

Customer_comment['sentiments'] = Customer_comment['sentiments'].map({
    'Negative': 1,
    'Neutral': 0
})

# --- 5. Encode Ordinal 'seat_factor_band' Column ---
band_mapping = {
    '0 to 70': 0,
    '70+': 1,
    '80+': 2,
    '90+': 3
}

Customer_comment['seat_factor_band'] = Customer_comment['seat_factor_band'].map(band_mapping)

Customer_comment = Customer_comment.drop_duplicates()


Customer_comment.info()
Customer_comment.head()

--- Customer_comment.csv after cleaning and encoding ---
<class 'pandas.core.frame.DataFrame'>
Index: 9422 entries, 0 to 9423
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   flight_number             9422 non-null   int64
 1   origin_station_code       9422 non-null   object
 2   destination_station_code  9422 non-null   object
 3   scheduled_departure_date  9422 non-null   datetime64[ns]
 4   arrival_delay_group       9422 non-null   int64
 5   departure_delay_group     9422 non-null   int64
 6   entity                    9422 non-null   object
 7   verbatim_text             9422 non-null   object
 8   seat_factor_band          9422 non-null   int64
 9   loyalty_program_level     9422 non-null   object
 10  fleet_type_description    9422 non-null   object
 11  fleet_usage               9422 non-null   object
 12  response_group            9422 non-null   object
 13  sentiments                9422 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 1.1+ MB

--- First 5 rows of cleaned data ---

,flight_number,origin_station_code,destination_station_code,scheduled_departure_date,arrival_delay_group,departure_delay_group,entity,verbatim_text,seat_factor_band,loyalty_program_level,fleet_type_description,fleet_usage,response_group,sentiments
0,950,LHX,SFX,2022-09-01,0,1,Atlantic,There was no salad dressing. The staff informe...,0,non-elite,B777-200,Mainline,member,0
1,950,LHX,SFX,2022-09-01,0,1,Atlantic,Not a choice.,0,None,B777-200,Mainline,non-member,0
2,1876,FLX,EWX,2022-09-01,0,0,Domestic,More variety and bigger snacks.,3,non-elite,A320-200,Mainline,member,0
3,5469,SFX,SEX,2022-09-01,0,0,Domestic,Serving pretzels and cookies in first class wa...,3,premier gold,ERJ-175,Express,member,0
4,281,DEX,ANX,2022-09-01,0,0,Domestic,More inflight selections to purchase for full ...,0,non-elite,B737-MAX8,Mainline,member,0